
/* Global Styles */

body {
    margin-top: 100px;
    background-color: #f9f9f9;
    color:#666;
}


@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}


#wrapper {
    padding-left: 0;
	
}

#page-wrapper {
    width: 100%;
    padding-bottom: 0px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px 25px;
    }
}
.navbar-form {margin-top: 40px; float: right;}
table {background: #fff;}
/* Top Navigation */

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {background-color: #fff; border-color: #fff;}
.navbar-inverse {border-color: #fff; box-shadow: 0px 0px 2px rgba(6, 8, 8, 0.15);}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #777;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #777;
    background-color: #f2f2f2;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border-right: 1px solid #eaeaea;
        border-radius: 0;
        overflow-y: auto;
        background-color: transparent;
        height: 100%;

    }

    .side-nav>li>a {
        border-bottom: 1px solid #eaeaea;
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus,
    .side-nav li .active {
        outline: none;
        color: #777 !important;
        border-right: 6px solid #6dc5dc;
        background-color: #fff !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #777;
    }
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #777 !important;
}

.side-nav>li>ul>li>a:hover {
    color: #777;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/*LOGIN*/
.login {background: #fff;}
#login {margin-top: 20%;}
#login img {margin-left:auto; margin-right:auto; text-align: center; display: block; margin-bottom: 60px;}
#login .form-control {
border: 1px solid #ccc;
border-radius: 2px;
box-shadow: none;
padding: 12px 15px;
height: 46px;
}
#login .btn-primary {background: #404041; width:100%;}
#login .btn {padding: 12px 15px;}

@media (max-width: 600px) {
#login {margin-top: 0px;}
}

